<div class="row">
    <div class="col-md-12">
        <span class="pull-right" style="font-size: 10pt; border: solid 1pt white; padding: 7pt 10pt;">Departments</span>
        <a class="btn btn-primary pull-left" style="padding: 7pt 25pt;" href="/departments/add" role="button">Add Department</a>
        <hr />
        <table class="table table-responsive shadow" style="color: black; background-color: rgba(255, 255, 255, 1); margin-top: 23pt;">
            <thead class="h5">
                <tr>
                    <th class="col">Department Number</th>
                    <th class="col">Department Name</th>
                </tr>
            </thead>
            <tbody>
                {{#each departments}}
                <tr class="h5">
                    <td class="col">
                        <a href="/employees?department={{this.departmentId}}">{{this.departmentId}}</a>
                    </td>
                    <td class="col">
                        <a href="/departments/{{this.departmentId}}">{{this.departmentName}}</a>
                    </td>
                </tr>
                {{/each}} {{#unless promiseRejected}}
                <tr>
                    <td colspan='2' class="text-center">
                        <strong>{{this.message}}</strong>
                    </td>
                </tr>
                {{/unless}}
            </tbody>
        </table>
    </div>
</div>