<div class="row">
    <div class="col-md-12">
        <span class="pull-right" style="font-size: 10pt; border: solid 1pt white; padding: 7pt 10pt;">Employees</span>
        <a class="btn btn-primary pull-left" style="padding: 7pt 25pt;" href="/employees/add" role="button">Add Employee</a>
        <hr />
        <table class="table table-responsive shadow" style="color: black; background-color: rgba(255, 255, 255, 1); margin-top: 23pt;" >
            <thead class="h5">
                <tr>
                    <th class="col">Employee Num</th>
                    <th class="col">Full Name</th>
                    <th class="col">Email</th>
                    <th class="col">Address</th>
                    <th class="col">Manager ID </th>
                    <th class="col">Status</th>
                    <th class="col">Department</th>
                    <th class="col">Hired On</th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr class="h6">
                    <td class="col">{{this.employeeNum}}</td>
                    <td class="col"><a href="/employee/{{this.employeeNum}}">{{this.firstName}} {{this.lastName}}</a></td>
                    <td class="col"><a href="mailto:{{this.email}}">{{this.email}}</a></td>
                    <td class="col">{{this.addressStreet}} {{this.addresCity}} {{this.addressState}} {{this.addressPostal}}</td>
                    <td class="col"><a href="/employees?manager={{this.employeeManagerNum}}">{{this.employeeManagerNum}}</a></td>
                    <td class="col"><a href="/employees?status={{this.status}}">{{this.status}}</a></td>
                    <td class="col"><a href="/employees?department={{this.department}}">{{this.department}}</a></td>
                    <td class="col">{{this.hireDate}}</td>
                    <td class="col"><a href="/employees/delete/{{this.employeeNum}}" type="button" class="btn btn-danger btn-sm">Remove</a></td>
                </tr>
                 {{/each}} {{#unless promiseRejected}}
                <tr>
                    <td colspan='8' class="text-center">
                        <strong>{{this.message}}</strong>
                    </td>
                </tr>
                {{/unless}}
            </tbody>
        </table>
    </div>
</div>